{% extends "base.html" %}

{% block title %}Employee Dashboard{% endblock %}

{% block links %}
<!-- Custom styles for this template-->
<link href="/static/css/sb-admin.css" rel="stylesheet">
{% endblock %}
{% block body %}

<body id="page-top">
{% include "navbar.html" %}
  
  <div id="wrapper">

    <!-- Sidebar -->
    {% include "sidebar.html" %}

    <div id="content-wrapper">

      <div class="container-fluid">
        {% include "container.html" %}

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      {% include "footer.html" %}

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  {% include "logout.html" %}


  {% include "scriptcore.html" %}

  

</body>
{% endblock %}